body{
    background-color: #6fcc5e;
    opacity: 1;
    background-image:  linear-gradient(30deg, #8d10e6 12%, transparent 12.5%, transparent 87%, #8d10e6 87.5%, #8d10e6), linear-gradient(150deg, #8d10e6 12%, transparent 12.5%, transparent 87%, #6210e6 87.5%, #8d10e6), linear-gradient(30deg, #10e610 12%, transparent 12.5%, transparent 87%, #8d10e6 87.5%, #8d10e6), linear-gradient(150deg, #10e62d 12%, transparent 12.5%, transparent 87%, #8d10e6 87.5%, #8d10e6), linear-gradient(60deg, #8d10e677 25%, transparent 25.5%, transparent 75%, #17e61077 75%, #10e65777), linear-gradient(60deg, #8d10e677 25%, transparent 25.5%, transparent 75%, #22e61077 75%, #8d10e677);
    background-size: 48px 84px;
    background-position: 0 0, 0 0, 24px 42px, 24px 42px, 0 0, 24px 42px;
}
#titulo{
    font-variant-position: sub;
    font-size: 25px;
}
#listas{
    height: 1cm;
}
#palindromo{
    border-radius: 755%;
    height: 10cm;
    color: rgb(233, 250, 0);
    background-color: black;
}